@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { scroll-behavior: smooth; }
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #0d0d0d; }
::-webkit-scrollbar-thumb { background: #272727; border-radius: 6px; }
::-webkit-scrollbar-thumb:hover { background: #333; }

.fade-in { @apply opacity-0 translate-y-4 transition-all duration-500 ease-out; }
.fade-in.appear { @apply opacity-100 translate-y-0; }
